

.quoteContainer{
    justify-content: center;

    padding: 100px;
    background-color: #00FFFF;
    margin: auto;
    text-align: center;
    opacity: 0.9;
    line-break: auto;
}

.quote{
    color: rgb(133, 128, 128);
    font-family:fantasy;
    font-weight: 100;
    letter-spacing: 1.2px;
}

.Alan{
    color: rgb(133, 128, 128);
    font-weight: 100;
}

@media screen and (max-height: 700px){
    .quote{
        font-size: 11px;
    }
    .Alan{
        font-size: 11px;
    }
}
@media screen and (max-height: 900px){
    .quote{
        font-size: 13px;
    }
    .Alan{
        font-size: 13px;
    }
}