.HeroBg {
    content: '\A';
    position: absolute;
    width: 100%; 
    height: 100%;
    top:0; 
    left:0;
    position: relative;
    transition: all 1s;
    color: white;
    background:linear-gradient(rgba(20, 117, 150, 0.266), rgba(0, 0, 0, 0.559));
}

.HeroBg:hover{
    color: black;
}



.HeroBg:after {
    content: '\A';
    position: absolute;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background:linear-gradient(rgba(14, 70, 88, 0.48), rgba(0, 0, 0, 0.67));
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    color: black;

}
.HeroBg:hover:after {
    opacity: 1;

}
.HeroBg:hover:before {

}

.tcp{
    margin-left: 20px;
    color: white;
}

.hero{
    color:rgb(53, 196, 143);
    color: #0c0c0c;
    color: #f9f9f9;

}

.toplineV5{
    font-weight: 100;
    padding-top: 20px;
}


.heroText{
    width: 5px;
    padding: 5px;
    margin-left: 10px;
    opacity: 1;
}

.tcpV2{
    padding: 0;
    margin: 0;
    row-gap: 0;
}



.introduksjon{
    position: absolute;
    
    width: 50%;
    left: 0;
    padding-left: 40px;
    color: white;
    


}

.introduksjonTekst{
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
    font-style: italic;
}

.heroSocials{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    width: 17%;
    display: grid;
    
}

.linkedinV2{
    width: 15%;
    padding-bottom: 10px;
}

.githubV2{
    padding-top: 10px;
    width: 15%;
}

@media screen and (max-width: 768px) {
    .introduksjonTekst{
        font-size: 1.1rem;
    }

    .linkedinV2{
        width: 80%;
    }

    .githubV2{
        width: 80%;
    }
}

.helloWorld{
    position: absolute;
    left: 0;
    margin: 0;
    margin-top: -200px;
    padding: 50px;
}

.overskriftHero{
    color: aliceblue;
    font-family: cursive;
    padding-bottom: 15px;
}




@media screen and (max-height: 768px) {
    .HeroBg{

        background:linear-gradient(rgba(14, 70, 88, 0.48), rgba(0, 0, 0, 0.67));
    }

    .introduksjonTekst{
        font-size: 1rem;
    }

    .VideoBg{
        opacity: 0;
        width: 0;
    }
    
    .linkedinV2{
        width: 100%;
    }

    .githubV2{
        width: 100%;
    }
}