
* {
    box-sizing: border-box;
}

.Contact_Container{
    width: 100%;
    height: 100%;
    background-color: black;
}

.rowbox_container{
    height: 90vh;
    width: 100%;
}

.rowbox_container::after{
    content: "";
    display: table;
    clear: both;
}

.columnBox_contact{
    float: left;
    height: 100%;
    width: 100%;
    position: relative;
}

.left_side{
    width: 35%;
}

.right_side{
    width: 60%;
}

.bildeContainer_contact{
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 50%, transparent 86%);
}

.bildeAvMeg_contact{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit:cover;
}

.bildeAvMeg_contact::after{
    background:linear-gradient(rgba(20, 117, 150, 0.266), rgba(0, 0, 0, 0.559));
}

.headline_Contact{
    padding-top: 100px;
    padding-bottom: 2rem;
    
}


.topline_contact{
    color: aqua;
    font-family: fantasy;
    font-size: 1.2rem;
    line-height: 1.6;
}

.heading_contact{
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    
}

.meldingContainer_contact{
    justify-content: center;
    margin: auto;
    height: 100%;
    text-align: center;
    width: 55%;
    color: white;
    box-sizing: border-box;
}


.innholdOverdel_contact{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    position: relative;
    width: 100%;
    display: flex;
    
}

.Contact_headline1{
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 7px;
}

.Contact_headline2{
    font-size: 1.5rem;
    align-self: flex-end;
    padding-left: 3rem;
    padding-bottom: 0.3rem;
    padding-top: 30px;
}

.rettStrek_contact{
    position: absolute;
    bottom: 0;
    width: 100%;
    border: solid whitesmoke 2px;
}

.inputContainer_contact{
    position: relative;
    display: grid;
    z-index: 3;
    align-items: end;
    width: 100%;
    box-sizing: border-box;

    font-size: large;

}

.overtekst_contact{
    padding: 10px;
    font-size: large;
    display: flex;
    flex-direction: end;
    padding-top: 2rem;
}

.textField_contact{
    font-size: large;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.meldingSection_contact{
    border-radius: 10px;
    font-size: large;
    padding-right: 15px;
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;

}





@media (max-height: 1000px) {

    .rowbox_container{
        height: 105vh;
    }

    .meldingContainer_contact{
        max-width: 65%;
    }

    .innholdOverdel_contact{
        font-size: large;
    }

    .meldingContainer_contact{
        margin-top: 30px;

    }

    .headline_Contact{
        padding-top: 20px;
        padding-bottom: 2rem;
        
    }

    .right_side{
        width: 60%;
    }

    .topline_contact{
        padding-top: 5px;
        font-size: 0.9rem;
    }

    .heading_contact{
        font-size: 1.8rem;
    }

    .Contact_headline2{
        font-size: 1.3rem;
    }

    .inputContainer_contact{
        padding-top: 0rem;
        
    }

    .overtekst_contact{
        font-size: medium;
    }

    .textField_contact{
        font-size: medium;
    }
}

@media screen and (max-height: 800px) {

    .Contact_Container{
        overflow-x: hidden;
    }

    .rowbox_container{
        overflow-x: hidden;
        overflow: hidden;
    }

    .innholdOverdel_contact{
        font-size: medium;
    }

    .headline_Contact{
        padding-top: 10px;
        padding-bottom: 0.5rem;
    }

    .Contact_headline2{
        display: flex;
        padding-left: 5px;
        font-size: 1rem;
        padding-top: 1px;
    }


    .left_side{
        width: 40%;
    }

    .right_side{
        width: 60%;
    }

    .bildeAvMeg_contact{
        margin-left: -30px;

    }

    .inputContainer_contact{
        padding-top: 0rem;

        bottom: 0;
        padding-right: 10px;
    }

    .rettStrek_contact{
        width: 90%;
    }

    .meldingContainer_contact{
        width: 100%;
    }

    .overtekst_contact{
        font-size: small;
    }

    .textField_contact{
        font-size: small;
    }

    .button_contact{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 10px;
    }
}


@media screen and (min-width: 1850px){
    .meldingContainer_contact{
        margin-top: 100px;
        width: 50%;
    }
}

