
.footer_Container{
    height: 100%;
    width: 100%;
    background-color: black;
}

.rowbox_container_social{
    height: 100%;
    width: 100%;
    height: 25vh; /*20vh*/
}

.columnBox_social{
    float: left;
    height: 100%;
    position: relative;
    height: 70%;
    justify-content: center;
    text-align: center;
}

.left_side_social{
    width: 34%;
}
.middle_side_social{
    width: 33%;
}
.right_side_social{
    width: 33%;
}
.leftsideInfoHeadline{
    font-size: calc(0.8vh + 0.8vw);/*font-size: 1.5rem;*/
    padding-top: 0.6rem;
    color: white;
}

.leftSideInfo{
    color: white;
    padding-left: calc(0.45vh + 0.45vw);/*padding-left: 2.7rem;*/
    padding-top: 1rem;
    font-size: calc(0.53vw + 0.53vh);/*font-size: 1.1rem;*/


}

.middleSideInfo{
    color: white;
    font-size: calc(0.50vh + 0.50vw);/*font-size: 1rem;*/
    text-align: center;
    margin-top: calc(-1vh + -1vw);/*-1.7rem;*/
    letter-spacing: 0.1rem;
}
.createdV2{
    padding-right: calc(2vh + 2vw);
    padding-left: calc(2vh + 2vw);
    letter-spacing: calc(0.2vh + 0.2vw); /*5px*/
    margin-top: calc(0.9vw + 0.9vh);/*padding-top: 3.2rem;*/
    width: 100%;

}

.rightSideInfo{
    color: white;
    padding: calc(0.23vh + 0.23vw) calc(0.9vh + 0.9vw); /*0.45rem 0.6rem*/
    margin-left: 55px;
    width: calc(2.9vh + 2.9vw);/*3.5rem;*/
}
.linkedinDesign{

}
.githubDesign{
    margin-left: -20px;
    
}

.social_h2{
    width: 100%;
    padding-top: 0.4rem;
    font-size: calc(0.8vh + 0.8vw);/*font-size: 1.5rem;*/
}

.leftSideContainer{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
}

.middleSideContainer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    margin-top: calc(3vh + 3vw);
}

.rightSideContainer{
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 50%;
}

@media screen and (min-height: 1300px) {
    .footer_Container{
        position: relative;
        height: 20%;
    }



}

@media screen and (max-height: 1000px) {
    /*
    .rowbox_container_social{
        height: 30vh;
    }*/

    .left_side_social{
        width: 25%;
    }
    .middle_side_social{
        width: 50%;
    }
    .right_side_social{
        width: 25%;
    }
    
    .social_h2{
        padding-left: 1.5rem;
        font-size: calc(1vh + 1vw);
        
    }

    .middleSideInfo{

        font-size: calc(0.60vh + 0.60vw);
    
    }

    .leftsideInfoHeadline{
        font-size: calc(0.95vh + 0.95vw);/*font-size: 1.5rem;*/
    }

    .leftSideInfo{
        font-size: calc(0.7vw + 0.7vh);
    }

    .createdV2{
    padding-right: calc(3vh + 3vw);
    padding-left: calc(3vh + 3vw);
    letter-spacing: calc(0.2vh + 0.2vw); /*5px*/
    margin-top: calc(1.3vw + 1.3vh);/*padding-top: 3.2rem;*/

}
}

@media screen and (max-width: 768px) {
    /*
    .rowbox_container_social{
        height: 55vh;
    }
    */

    .leftSideInfo{
        padding-top: 1rem;
        /*font-size: 0.9rem;*/
    }
   
    .middleSideInfo{

        font-size: calc(0.65vh + 0.65vw);
    
    }


    /*
    .rightSideInfo{
        font-size: 1rem;
        padding-top: 2rem;
        width: 40%;
    }
    */
    
}

@media screen and (max-width: 1300px) {
    
}

